{# [START form] #}{% extends "index.html" %} {% block content %}

<div class="container-sm" style="width: 300px; margin-left: 20px">
  <h4 class="font-italic" style="padding-top: 20px">Upload a Photo</h4>
  <form action="upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="Photographer" style="font-weight: 500">Photographer</label>
      <input
        type="text"
        name="photographer"
        id="photographer"
        value=""
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="capturedDate" style="font-weight: 500">Date Captured</label>
      <input
        type="datetime-local"
        name="captureddate"
        id="captureddate"
        value=""
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="location" style="font-weight: 500">Location</label>
      <input
        type="text"
        name="location"
        id="location"
        value=""
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="photoUpload" style="font-weight: 500">Upload Photo</label>
      <span className="required" style="color: red; font-weight: 900">*</span>
      <input
        type="file"
        name="file"
        class="form-control-file"
        id="photoUpload"
        required
      />
    </div>
    <input type="submit" name="submit" class="btn btn-dark" value="Add Entry" />
  </form>
</div>

{% endblock %}{# [END form] #}
